html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}


/* Header */

header {
    background-color: rgba(28, 28, 28, 1);
    display: block;
    width: 100%;
}

.nom {
    display: inline-block;
    color: aliceblue;
    font-size: 150%;
    font-family: sans-serif;
    padding-left: 15%
}

.menu {
    list-style-type: none;
    color: aliceblue;
    display: inline-block;
    text-align: left;
    padding-right: 10%
}

.menu li {
    display: inline-block;
    text-align: center;
    padding: 14px 14px;
    font-family: sans-serif;
    text-decoration: none;
}
.menu li{
    text-decoration: none;
    color:white;
}

.menu li:hover {
    color: crimson;
}

.containerN {
    display: inline-block;
    width: 40%;
}
.arrow{
    width:15%;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}
.arrow img{
    width: 45%;
    padding-left: 10px;
}

.containerM {
    display: inline-block;
    width: 59%;
    text-align: right;
}


/* Section */

.pt-page-1 {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: url(../images/header6.jpg);
    background-size: 100% 100%;
    margin: auto;
}

section {
    height: 100%;
}

#mob {
    background: url(../images/tele.png) no-repeat;
    background-size: 100% 100%;
    width: 55%;
    height: 60%;
    display: inline-flex;
    margin: auto;
    vertical-align: top;
    margin-top: 8%
}

#mob2 {
    width: 97%;
    height: 95%;
    margin: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

#projet1 {
    background: url(../images/projet1.png) no-repeat;
    background-size: 100% 100%;
}

#projet2 {
    background: url(../images/projet2.png) no-repeat;
    background-size: 100% 100%;
}

#project {
    height: 60%;
    width: 28%;
    display: inline-block;
    margin: auto;
    text-align: right;
    padding-right: 1%;
    margin-top: 7%
}

h1 {
    text-decoration: underline;
}

p {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1qpx 1px white;
}

.suite {
    background: url(../images/button.png)no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 25px;
    float: right;
    display: inline-block;
}

.suite:hover {
    background: url(../images/button1.png)no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 25px;
    float: right;
    display: inline-block;
}


/* CV */

#cv {
    height: 100vh;
    background: url(../images/cubes.png) repeat;
    background-size: auto auto;
    padding: 0;
    margin: 0;
}
#cv h2{
    padding: 0;
    margin: 0;
}
#tskills{
    font-size: 200%;
    height: 7%;
    text-decoration: underline;
    display: inline-block;
    width: 100%;
    margin: auto;
}
.get {
    display: none;
}

#diagram {
    width: 50%;
    height: 600px;
    display: inline-block;
    float: left;
}

.get2 {
    display: none;
}

#diagram2 {
    width: 50%;
    height: 600px;
    display: inline-block;
    float:left;
}
.legend{
    float: left;
    width: 50%;
    margin: 0;
    display: inline-block;
}
.skills {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.skills ul,
.skills li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.skills li {
    float: left;
    clear: both;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 1px;
    font-size: 18px;
}

.skills .jq {
    background: #97BE0D;
}

.skills .css {
    background: #D84F5F;
}

.skills .html {
    background: #88B8E6;
}

.skills .node {
    background: #BEDBE9;
}
.legend2{
    float: left;
    width:50%;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.skills2 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.skills2 ul,
.skills2 li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.skills2 li {
    float: left;
    clear: both;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 1px;
    font-size: 18px;
}

.skills2 .java {
    background: #97BE0D;
}

.skills2 .c1 {
    background: #D84F5F;
}

.skills2 .c {
    background: #88B8E6;
}

.skills2 .sql {
    background: #BEDBE9;
}